
{{> head }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>VISUAL STUDIO CODE</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam numquam laboriosam quo aut voluptatum non laudantium enim deserunt ullam id harum facilis provident quas, maiores quia totam deleniti aspernatur? Dolorem?
        </p>
    </div>
    <div class="col-8">
        <img src= "assets/img/vscode.png" class="img-thumbnail">
    </div>
</div>

{{> footer }}